.dataTitle {
    font-weight: bold;
}
.dataField {
    font-size: 12px !important;
}
.searchResultIcon {
    font-size: 2em !important;
    padding-top: 30px;
    color: #0db0bf;
}   
.searchResultIconLocation{
    font-size: 2em !important;
    padding-top: 8px;
    color: #0db0bf;
}
.spinnerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 50%;
}
.dataSubtitle {
    font-weight: bold;
    font-size: 12px !important;
}

.alert-wrapper {
    --min-width: 80%;
}

.alert-tappable {
    height: 68px !important;
}

.alert-checkbox-label {
    white-space: normal !important;
}