.dataTitle {
    font-weight: bold;
}
.dataField {
    font-size: 12px !important;
}
.searchResultIcon {
    font-size: 2em !important;
    padding-top: 30px;
    color: #3880ff;
}   
.searchResultIconLocation{
    font-size: 2em !important;
    padding-top: 8px;
    color: #3880ff;
}
.spinnerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 50%;
}
.dataSubtitle {
    font-weight: bold;
    font-size: 12px !important;
}

.alert-wrapper {
    --min-width: 80%;
}

.alert-tappable {
    height: 68px !important;
}

.alert-checkbox-label {
    white-space: normal !important;
}

.calendar {
    width: 100%;
}

.react-datetime-picker__inputGroup {
    width:100%;
}

.authPage {
    height: 100%;
    width: 100%;  
    display:flex;
    align-items: center;
    justify-content: center;
}

.authTitle {
    font-size:1.25em;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

ion-item.dark {
    --border-color: #ffffff38;
    --color: white;
    --highlight-background: #eaeaea;
}

.item-input-login {
    /* border-radius: 5px; */
    font-size: 14px;
    height: 40px;
    
}
.sc-ion-input-md-h {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}
