.dataTitle {
    font-weight: bold;
    font-size: 12px !important;
    color: #005cff !important;

}

.white {
    color: white !important;
}

.dataField {
    font-size:15px !important;
}

.searchResultIcon {
    font-size: 2em !important;
    padding-top: 30px;
    color: #3880ff;
}

.searchResultIconLocation {
    font-size: 2em !important;
    padding-top: 8px;
    color: #3880ff;
}

.spinnerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.dataSubtitle {
    font-weight: bold;
    font-size: 12px !important;
}

.alert-wrapper {
    --min-width: 80%;
}

.alert-tappable {
    height: 68px !important;
}

.alert-checkbox-label {
    white-space: normal !important;
}

.calendar {
    width: 100%;
}

.react-datetime-picker__inputGroup {
    width: 100%;
}

.authPage {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authTitle {
    font-size: 1.25em;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

ion-item.dark {
    --border-color: #ffffff38;
    --color: white;
    --highlight-background: #eaeaea;
}

ion-item.wo-card {
    --ion-background-color: white;
    --color: black;
    margin: 5px 0px;
    -webkit-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.34);
    box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.34);
    border-radius: 2px;
    border-top: 2px solid #ededed;
}

ion-item.wo-card.dataTitle {
    --color: #005cff;
}

ion-content.dashboard-bg {
    --ion-background-color: white;
}

.item-input-login {
    /* border-radius: 5px; */
    font-size: 14px;
    height: 40px;
}

.sc-ion-input-md-h {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

.preloader {
    display: inline-block;
}

ion-content.auth-bg {
    --background: url('../components/bg.png') 0 0/100% 100% no-repeat;
}

.popup-container {
    z-index: 1001;
    background-color: white;
    position: fixed;
    height: 400px;
    
    top: 20%;
    left:20px;
    right: 0;
    max-width: 90%;
    border-radius: 4px;
    -webkit-box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}
.popup-header {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 23px;
    padding-inline-start: 23px;
    -webkit-padding-end: 23px;
    padding-inline-end: 23px;
    border-bottom: 1px solid #d9d9d9;
}
.popup-title {
    font-size: 18px;
}
.popup-footer {
    position: absolute;
    bottom: 0px !important;
    right: 0px !important;
    border-top: 1px solid #d9d9d9;
    width: 100%;
    text-align: right;
}
.popup-body {
    height: 300px;
    overflow-y: scroll;
}
.custom-backdrop {
    position: absolute;
    width: 4000px;
    height: 1000px;
    background: #0000004d;
    z-index: 1000;
}